In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('train_bm.csv')

In [3]:
df = df[['Item_Visibility', 'Item_MRP']]
df

      Item_Visibility  Item_MRP
0            0.016047  249.8092
1            0.019278   48.2692
2            0.016760  141.6180
3            0.000000  182.0950
4            0.000000   53.8614
...               ...       ...
8518         0.056783  214.5218
8519         0.046982  108.1570
8520         0.035186   85.1224
8521         0.145221  103.1332
8522         0.044878   75.4670

[8523 rows x 2 columns]

In [4]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [5]:
df = scaler.fit_transform(df)
df_scaled = pd.DataFrame(df, columns = ['Item_Visibility', 'Item_MRP'])
df_scaled

      Item_Visibility  Item_MRP
0            0.048866  0.927507
1            0.058705  0.072068
2            0.051037  0.468288
3            0.000000  0.640093
4            0.000000  0.095805
...               ...       ...
8518         0.172914  0.777729
8519         0.143069  0.326263
8520         0.107148  0.228492
8521         0.442219  0.304939
8522         0.136661  0.187510

[8523 rows x 2 columns]

In [6]:
df_scaled.describe()

       Item_Visibility     Item_MRP
count      8523.000000  8523.000000
mean          0.201382     0.465635
std           0.157123     0.264327
min           0.000000     0.000000
25%           0.082187     0.265437
50%           0.164228     0.474209
75%           0.288026     0.655156
max           1.000000     1.000000

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
scaler = StandardScaler()

In [9]:
df = pd.read_csv('train_bm.csv')

In [10]:
df = df[['Item_Visibility', 'Item_MRP']]
df = scaler.fit_transform(df)

In [11]:
df = pd.DataFrame(df, columns = ['Item_Visibility', 'Item_MRP'])
df.head()

   Item_Visibility  Item_MRP
0        -0.970732  1.747454
1        -0.908111 -1.489023
2        -0.956917  0.010040
3        -1.281758  0.660050
4        -1.281758 -1.399220

In [12]:
df.describe()

       Item_Visibility      Item_MRP
count     8.523000e+03  8.523000e+03
mean     -8.548444e-17 -1.644427e-16
std       1.000059e+00  1.000059e+00
min      -1.281758e+00 -1.761688e+00
25%      -7.586531e-01 -7.574307e-01
50%      -2.364792e-01  3.243893e-02
75%       5.514755e-01  7.170372e-01
max       5.083050e+00  2.021724e+00