In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('high_correlation_fllter.csv')
data.head()

,ID,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
0,AB101,1,0,0,1,9.84,14.395,81,0.0,16
1,AB102,1,0,0,1,9.02,13.635,80,0.0,40
2,AB103,1,0,0,1,9.02,13.635,80,0.0,32
3,AB104,1,0,0,1,9.84,14.395,75,0.0,13
4,AB105,1,0,0,1,9.84,14.395,75,0.0,1

In [3]:
data.corr()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
season,1.000000,-0.010959,0.014343,-0.013005,0.394560,0.397765,0.181712,-0.135762,0.100687
holiday,-0.010959,1.000000,-0.248558,-0.018406,-0.025104,-0.032903,-0.029520,0.021646,-0.029340
workingday,0.014343,-0.248558,1.000000,0.052788,0.060589,0.064840,0.028026,0.001986,0.018842
weather,-0.013005,-0.018406,0.052788,1.000000,-0.093655,-0.094877,0.432497,0.011120,-0.161018
temp,0.394560,-0.025104,0.060589,-0.093655,1.000000,0.991839,-0.048478,-0.008669,0.415938
atemp,0.397765,-0.032903,0.064840,-0.094877,0.991839,1.000000,-0.031606,-0.049997,0.412644
humidity,0.181712,-0.029520,0.028026,0.432497,-0.048478,-0.031606,1.000000,-0.296975,-0.322269
windspeed,-0.135762,0.021646,0.001986,0.011120,-0.008669,-0.049997,-0.296975,1.000000,0.105607
count,0.100687,-0.029340,0.018842,-0.161018,0.415938,0.412644,-0.322269,0.105607,1.000000

In [6]:
df = data.drop(['count'], axis=1)
df.corr()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
season,1.000000,-0.010959,0.014343,-0.013005,0.394560,0.397765,0.181712,-0.135762
holiday,-0.010959,1.000000,-0.248558,-0.018406,-0.025104,-0.032903,-0.029520,0.021646
workingday,0.014343,-0.248558,1.000000,0.052788,0.060589,0.064840,0.028026,0.001986
weather,-0.013005,-0.018406,0.052788,1.000000,-0.093655,-0.094877,0.432497,0.011120
temp,0.394560,-0.025104,0.060589,-0.093655,1.000000,0.991839,-0.048478,-0.008669
atemp,0.397765,-0.032903,0.064840,-0.094877,0.991839,1.000000,-0.031606,-0.049997
humidity,0.181712,-0.029520,0.028026,0.432497,-0.048478,-0.031606,1.000000,-0.296975
windspeed,-0.135762,0.021646,0.001986,0.011120,-0.008669,-0.049997,-0.296975,1.000000

In [8]:
corr_matrix = df.corr().abs()

In [9]:
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
upper

<ipython-input-9-f48403b9242a>:1: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
season,NaN,0.010959,0.014343,0.013005,0.394560,0.397765,0.181712,0.135762
holiday,NaN,NaN,0.248558,0.018406,0.025104,0.032903,0.029520,0.021646
workingday,NaN,NaN,NaN,0.052788,0.060589,0.064840,0.028026,0.001986
weather,NaN,NaN,NaN,NaN,0.093655,0.094877,0.432497,0.011120
temp,NaN,NaN,NaN,NaN,NaN,0.991839,0.048478,0.008669
atemp,NaN,NaN,NaN,NaN,NaN,NaN,0.031606,0.049997
humidity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.296975
windspeed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#setting the threshold as 0.6 for filtering
to_drop = [column for column in upper.columns if any( upper[column] > 0.6 )]
to_drop

['atemp']

In [17]:
final_data = data.drop(to_drop, axis=1)
final_data

,ID,season,holiday,workingday,weather,temp,humidity,windspeed,count
0,AB101,1,0,0,1,9.84,81,0.0000,16
1,AB102,1,0,0,1,9.02,80,0.0000,40
2,AB103,1,0,0,1,9.02,80,0.0000,32
3,AB104,1,0,0,1,9.84,75,0.0000,13
4,AB105,1,0,0,1,9.84,75,0.0000,1
...,...,...,...,...,...,...,...,...,...
12975,AB13076,3,0,1,1,37.72,42,16.9979,308
12976,AB13077,3,0,1,2,35.26,53,12.9980,236
12977,AB13078,3,0,1,3,33.62,63,12.9980,163
12978,AB13079,3,0,1,3,33.62,63,12.9980,48
12979,AB13080,3,0,0,3,26.24,89,11.0014,69

In [18]:
data.shape, final_data.shape

((12980, 10), (12980, 9))